{% extends 'header.html' %}
{% block main %}


<div class="task-manager-container">
    <h1>Task Manager</h1>
    <table>
      <tr class='heading-row'>
        <th>Task</th>
        <th>Due Date</th>
        <th>Action</th>
      </tr>
      <tr class="form-row">
        <td class="input-row">
            <form  id="form" action = '{{ action }}' method="POST">
                {{ form.csrf_token}}
                {{ form.title }}
                {{ form.dueDate }}
                {{ form.submit(value=Action) }}
            </form>
        </td>
      </tr>
      {% for task in tasks %}
        <tr key= '{{ tasks.id }}' class="task-item">
          <td>
            <strong>{{ task.title }}</strong>
          </td>
          <td>
            {{ task.dueDate }}
          </td>
          <td class="buttons">
            <a class="edit" href="{{ url_for('editTask', task_id = task.id) }}">Edit</a>
            <a class="delete" href="{{ url_for('deleteTask', task_id = task.id) }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}