<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">     
</head>
<body>
        <ul>
            <li><a href="{{ url_for('getTask') }}">Home</a></li>
            <!-- <li><a href="{{ url_for('addTask') }}">Tasks</a></li> -->
        </ul>
        <hr>
        <br>
        <div style="height: 40px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="flash-message">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <br>

{% block main %}

{% endblock %}

<script>
    let flash_messages = document.getElementsByClassName('flash-message');
    console.log(flash_messages[0])
    setTimeout(()=>{
        flash_messages[0].style.display = "none";
    },2000)

</script>
</body>
</html>